{% extends 'base.html.twig' %}

{% block title %}{{ roomName }}#{{ roomId }}{% endblock %}

{% block body %}
{# Wrapper #}
<div class="flex flex-col w-screen h-screen bg-slate-800 text-white">

    {# Chat Section #}
    <div class="flex-1 overflow-y-auto p-8">
        {# Message exemple
        <div class="flex-col">
            <span class="font-mono">Username#1</span>
            <div class="bg-blue-700 p-4 rounded-md w-fit max-w-7xl rounded-tl-none">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere velit et sapien rhoncus cursus. Sed scelerisque neque vel nulla pretium, eu tincidunt metus eleifend. Nulla facilisi. Duis a libero ultricies, rutrum mi a, convallis est. Nam finibus tortor et ante hendrerit rhoncus. Cras at faucibus dolor, at consequat velit. Maecenas vitae velit nibh.
            </div>
        </div>
        #}

        {# Message #}
        {% for message in messages %}
        <div class="flex-col w-full {{ app.user.id == message.getUser().getId() ? 'justify-items-end' }}">
            <span class="font-mono">{{ message.getUser().getNickname() }}#{{ message.getUser().getId() }}</span>
            <div class="p-4 rounded-lg w-fit max-w-7xl
                {% if app.user.id == message.getUser().getId() %}
                bg-slate-300 text-black rounded-tr-none justify-items-end
                {% else %}
                bg-blue-700 rounded-tl-none
                {% endif %}
                ">
                {{ message.getContent() }}
            </div>
        </div>
        {% endfor %}
    </div>

    {# Interaction Section #}
    <div class="bg-slate-700 border-t border-slate-800">
        
        {# Buttons Row #}
        <div class="flex justify-evenly p-6 bg-slate-600">
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 1</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 2</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 3</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 4</button>
        </div>
        
        {# Chat Input Section #}
        <div class="flex items-center bg-slate-600 px-6 py-4">
            {# <form action="{{ path('room_publish', {'roomId': roomId}) }}" method="POST"> #}
                <input
                    type="text"
                    id="content"
                    placeholder="Écrire ici..."
                    class="flex-1 bg-slate-500 text-white placeholder-slate-400 py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
                <button id="sendButton" class="ml-4 bg-blue-600 hover:bg-blue-700 text-white py-2 px-6 rounded-md">Envoyer</button>
            {# </form> #}
        </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}

<script>
// Listener
const eventSource = new EventSource("{{ mercure('room/1')|escape('js') }}");
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
}

function sendMessage () {
    const text = document.getElementById('content').value;
    const endpoint = "{{ path('room_publish', {'roomId': roomId}) }}";

    fetch(endpoint, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 'content': text }),
    })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Failed to send message');
        })
        .catch(error => {
            throw new Error('Error: ' + error.message);
        });
}

// Button Click
document.addEventListener('DOMContentLoaded', () => {
    const textBox = document.getElementById('content');
    const sendButton = document.getElementById('sendButton');

    if (sendButton) {
        sendButton.addEventListener('click', sendMessage);
    }

    if (textBox) {
        textBox.addEventListener("keydown",function(e){
            if(e.keyCode == 13){
                sendMessage();
            } 
        });
    }
});

</script>

{% endblock %}