{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="flex justify-center items-center h-16">
            <h1 class="h3 mb-3 font-weight-normal text-2xl">Connectez-vous</h1>
        </div>

            <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md space-y-6">

            <!-- Champ Email -->
            
            <div>
                <label for="username" class="">Adresse mail</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" autocomplete="email" required autofocus>
            </div>

            <!-- Champ Mot de passe -->
            <div>
                <label for="password" class="block text-sm font-semibold text-gray-700">Mot de passe :</label>
                <input type="password" name="_password" id="password" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            <div class="flex items-center mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me" class="h-4 w-4 text-blue-500 focus:ring-2 focus:ring-blue-500 border-gray-300 rounded">
                <label for="_remember_me" class="ml-2 text-sm text-gray-700">Remember me</label>
            </div>
            #}

            <!-- Bouton de soumission -->
            <div>
                <button type="submit" class="w-full px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    Connexion
                </button>
            </div>
        </form>
    </div>

    </form>
{% endblock %}
