    
    <div class="relative p-6 bg-white rounded-lg shadow-md border border-gray-200">
  
  <h1 class="text-2xl font-bold text-gray-800 mb-2">{{ room.name }}</h1>
  <hr class="my-4 border-gray-300">
  <p class="text-gray-600 mb-1 text-1xl">
    Détails de la room : <br> {{ room.details }}
  </p>

    <a href="{{ path('app_room_c_r_u_d_edit', {'id': room.id}) }}">edit</a>

    {{ include('room_crud/_delete_form.html.twig') }}

    <a href="{{ path('app_room', {'roomId': room.id}) }}"
      class="inline-block px-4 py-2 bg-blue-500 text-sm font-medium text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 transition duration-150">
      Aller à la Room
    </a>
    
</div>